<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Contacts - CRUD in Spring Boot with Spring Data JPA</title>
        <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    </head>
    <body>
        <!--/*/ <th:block th:include="fragments/header :: body"></th:block> /*/-->
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <!--<div class="container">-->
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">View Contact</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="inputId">ID</label>
                                <input type="text" class="form-control" id="inputId" placeholder="ID" th:field="*{contact.id}" name="id" disabled="disabled" />
                            </div>
                            <div class="form-group">
                                <label for="inputLastName">Last Name</label>
                                <input type="text" class="form-control" id="inputLastName" placeholder="Last Name" th:field="*{contact.lastName}" name="lastName" disabled="disabled" />
                            </div>
                            <div class="form-group">
                                <label for="inputFirstName">First Name</label>
                                <input type="text" class="form-control" id="inputFirstName" placeholder="First Name" th:field="*{contact.firstName}" name="firstName" disabled="disabled" />
                            </div>
                            <div class="form-group">
                                <label for="inputMobileNumber">Mobile Number</label>
                                <input type="text" class="form-control" id="inputMobileNumber" placeholder="Mobile No." th:field="*{contact.mobileNumber}" name="mobileNumber" disabled="disabled" />
                            </div>
                            <div class="form-group">
                                <label for="inputAddress">Address</label>
                                <input type="text" class="form-control" id="inputAddress" placeholder="Address" th:field="*{contact.address}" name="address" disabled="disabled" />
                            </div>
                            <div class="text-right">
                                <a href="/contacts" th:href="@{/contacts}" class="btn btn-default">Back</a>
                                <a th:href="@{'/contacts/edit/' + ${contact.id}}" class="btn btn-primary">Edit</a>
                            </div>
                        </div>
                        <div class="panel-footer">
                        </div>
                    </div>
                    <!--</div>-->
                </div>
            </div>
        </div>
        <!--/*/ <th:block th:include="fragments/js :: body"></th:block> /*/-->
        <script src="../static/js/app.js" th:src="@{/js/app.js}"></script>
    </body>
</html>
